AutoUpdater/AutoUpdater/Web References/AutoUpWebService/AutoUpdaterWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CurrentVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CurrentVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrentVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CurrentVersionSoapIn">
    <wsdl:part name="parameters" element="tns:CurrentVersion" />
  </wsdl:message>
  <wsdl:message name="CurrentVersionSoapOut">
    <wsdl:part name="parameters" element="tns:CurrentVersionResponse" />
  </wsdl:message>
  <wsdl:message name="AppInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AppInfo" />
  </wsdl:message>
  <wsdl:message name="AppInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AppInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoUpdaterWSSoap">
    <wsdl:operation name="CurrentVersion">
      <wsdl:input message="tns:CurrentVersionSoapIn" />
      <wsdl:output message="tns:CurrentVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppInfo">
      <wsdl:input message="tns:AppInfoSoapIn" />
      <wsdl:output message="tns:AppInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoUpdaterWSSoap" type="tns:AutoUpdaterWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CurrentVersion">
      <soap:operation soapAction="http://tempuri.org/CurrentVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppInfo">
      <soap:operation soapAction="http://tempuri.org/AppInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoUpdaterWSSoap12" type="tns:AutoUpdaterWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CurrentVersion">
      <soap12:operation soapAction="http://tempuri.org/CurrentVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppInfo">
      <soap12:operation soapAction="http://tempuri.org/AppInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoUpdaterWS">
    <wsdl:port name="AutoUpdaterWSSoap" binding="tns:AutoUpdaterWSSoap">
      <soap:address location="http://localhost:1156/AutoUpdaterWS.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoUpdaterWSSoap12" binding="tns:AutoUpdaterWSSoap12">
      <soap12:address location="http://localhost:1156/AutoUpdaterWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>